<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="false">
	<test name="Test">
	 
	 <!--  <packages>
  
      <package name="random.stuffs" />
     </packages> -->
	 
 <classes>
	 		
				 <class name="random.stuffs.FacebookLoginTest" /> 
				 
		</classes>   

	</test> <!-- Test -->
</suite> <!-- Suite -->
